<nav class="navbar bg-primary">
  <h1>
    <a
      routerLink="/user
    "
      >Buy & Drive</a
    >
  </h1>

  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="['/user']">Главная</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/user', 'cars-spares-search']"
        >Просмотр автомобилей и автозапчастей</a
      >
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/user', 'create-advertisement']">Создать объявление</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/user', 'your-advertisement']">Ваши объявления</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/user', 'contacts']">Контакты</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/user', 'auth']">Выйти</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
